@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }

  body {
    @apply bg-blue-dark cursor-none;
    cursor: none;
  }
}

@layer components {
  .nav-link {
    @apply flex  mx-2;

    a {
      @apply p-4 text-yellow transition ease-in-out duration-100 font-bold;

      &:hover {
        /* @apply bg-clip-text scale-110; */
        @apply scale-110;
        color: white;
      }
    }
  }

  .center-glow {
    &::before {
      @apply bg-center-glow;
      content: "";
      position: absolute;
      width: 99vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }

  .hero-text {
    color: transparent;
    background-image: linear-gradient(
      to right,
      rgb(236, 72, 153),
      rgb(139, 92, 246)
    );

    &::before {
      content: "A ";
      color: white;
    }
    &::after {
      content: "|";
      color: white;
    }
  }

  .large-fade-out {
    @apply transition ease-in duration-200;
    transform: scale(3);
    opacity: 0;
  }

  .project-card {
    @apply transition-all ease-in-out;

    &:hover {
      @apply -translate-y-1;

      h4 {
        @apply text-blue;
      }
      p {
        /* @apply text-white; */
      }

      a {
        @apply cursor-none;
      }
    }

    h4 {
      @apply text-white-off text-xl font-bold;
    }

    p {
      @apply text-white-off text-ellipsis overflow-hidden;
    }
  }

  .timeline-item {
    ul {
      text-align: inherit;
    }
    li {
      &::before {
        content: "\2022";
        font-weight: 900;
        margin-right: 0.75em;
      }
    }
  }
}
