@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }

  body {
    @apply bg-blue-dark;
    cursor: none;
  }

  .body {
    @apply max-w-screen-xl mx-auto shadow-sm;
  }
}

@layer components {
  .nav-link {
    @apply flex  mx-2;

    a {
      @apply p-4 text-yellow transition ease-in-out duration-100 font-bold;

      &:hover {
        /* @apply bg-clip-text scale-110; */
        @apply scale-110;
        color: white;
      }
    }
  }

  .center-glow {
    &::before {
      @apply bg-center-glow;
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }

  .hero-text {
    color: transparent;
    background-image: linear-gradient(
      to right,
      rgb(236, 72, 153),
      rgb(139, 92, 246)
    );

    &::before {
      content: "A ";
      color: white;
    }
    &::after {
      content: "|";
      color: white;
    }
  }
}
